asgiref
beautifulsoup4
bs4
certifi
charset-normalizer
click
colorama
crispy-bootstrap5
distlib
dj-database-url
Django
django-cors-headers
django-crispy-forms
django-csp
django-environ
django-filter
djangorestframework
filelock
git-filter-repo
gunicorn
h11
idna
Markdown
MouseInfo
mysql-connector-python
numpy
opencv-contrib-python
packaging
pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
requests
setuptools
soupsieve
sqlparse
typing_extensions
tzdata
urllib3
uvicorn
virtualenv
whitenoise